.contenedor-modal-1, .contenedor-modal-2, .contenedor-modal-3{
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center; /*de arriba hacia abajo*/
  justify-content: center; /*de izquierda hacia derecha*/
}

<<<<<<< HEAD
.modal-1, .modal-2, .modal-3{
=======
.modal- {
>>>>>>> de09b4d08c8998f06c352cc1220bf06131af111b
  width: 40%;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform .5s;
  border-radius: 2px;
}

.modal-cerrar-1, .modal-cerrar-2, .modal-cerrar-3{
  transform: translateY(-200%);
}

.cerrar-1, .cerrar-2, .cerrar-3{
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #FF4747;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  z-index: 100;
}

<<<<<<< HEAD
.titulo, .descripcion-a, .descripcion-b{
=======
@media screen and (max-width:750px){
  .modal-{
    width: 85%;
  }
}

.titulo, .descripcion{
>>>>>>> de09b4d08c8998f06c352cc1220bf06131af111b
  padding: 7px 5px;
  font-weight: bold;
  font-family: sans-serif;
}

.titulo{
  width: 84%;
}

.modal-1 #img-link, .modal-2 #img-link, .modal-3 #img-link {
  background-color: #34495E;
  padding: 5px;
}

#image{
  border: 2px solid white;
}

@media screen and (max-width:750px){
  .modal-1, .modal-2, .modal-3{
    width: 85%;
  }
  .titulo{
    width: 70%;
    overflow: hidden;
  }

  .descripcion-a {
    overflow: scroll;
    height: 120px;
    margin: 2px;
  }
}
